.page-header
  %h1
    Users
    .pull-right
      = link_to t('new', model_name: 'User').html_safe, new_user_path, :class => 'btn btn-primary'

%table#users.table.table-bordered.table-striped.dataTable{:data => {:source => users_url(:format => 'json')}}
  %thead
    %tr
      %th User
      %th Franchise
      %th Role
      %th
  %tbody
